<!DOCTYPE html>
<html>
<head>
    <title>Installed Packages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='packages.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="results-container">
            <h2>Package list for <span>{{ nvr }}</span></h2>
            <div>
                {% if packages %}
                    <table id="packagesTable">
                        {% for package in packages %}
                        <tr><td>{{ package }}</td></tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No packages available to display.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
